/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;

/*-- scss:rules --*/

.navbar-dark {
    background-image: linear-gradient(to bottom, #f4fda6 0%, #b6e202 100%);
    border-color: transparent;
}

.navbar-brand-container {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    padding: 0 0 0 60px;
    height: 48px;
    line-height: 55px;
    background-size: 38px auto;
    background-repeat: no-repeat;
    background-position: 15px center;
}

.navbar-brand-logo {
    background-image: url(./assets/logo_grey.png);
    transition: all 0.25s;
}

.navbar-brand-logo:hover, .navbar-brand-logo:focus {
    background-image: url(./assets/logo_color.png);
    text-decoration: none; }


